/* --------Font Family---------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* -------Common css-------- */
body {
  font-family: "Poppins", sans-serif;
}

/* -------Banner Slider Dots------ */
.slick-prev {
  display: none !important;
}

.slick-next {
  display: none !important;
}

#BannerSlider .slick-dots {
  position: absolute;
  bottom: 45px !important;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  margin: 0 !important;
}

.slick-dots li button:before {
  font-size: 7px !important;
}

.slick-dots li.slick-active button:before {
  color: #111827 !important;
}

/* -------Brands Slider Dots------ */

#Brands_Slider .slick-dots {
  bottom: -50px !important;
}

#Brands_Slider .slick-dots li button:before {
  font-size: 7px !important;
}

/* -------Recommend Slider Dots------ */

#Recommend .slick-dots {
  bottom: -70px !important;
}

/* -------Single Product Shop Button Hover Start---------- */
.ShopButton {
  cursor: pointer;
  position: absolute;
}

@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(0.75, 1.25, 1);
  }

  40% {
    transform: scale3d(1.25, 0.75, 1);
  }

  50% {
    transform: scale3d(0.85, 1.15, 1);
  }

  65% {
    transform: scale3d(1.05, 0.95, 1);
  }

  75% {
    transform: scale3d(0.95, 1.05, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.ShopButton .tooltip {
  position: absolute;
  top: -20px;
  left: -29px;
  opacity: 0;
  background-color: transparent;
  background-image: linear-gradient(147deg, #4B5563 0%, #111827 74%);
  padding: 5px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.ShopButton .tooltip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #111827;
  background-size: 1000%;
  background-position: center;
  transform: rotate(45deg);
  bottom: -15%;
  transition-duration: 0.3s;
}

.ShopButton:hover .tooltip {
  top: -20px;
  opacity: 1;
  left: -29px;
  transition-duration: 0.3s;
}

/* -------Single Product Shop Button Hover End---------- */

/* --------LOgin Or Register Start------- */
.LoginWithButton {
  cursor: pointer;
  position: relative;
  border-radius: 34px;
  background-color: transparent;
  transition: all 1s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.LoginWithButton::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(68, 67, 64);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.LoginWithButton:hover::before {
  scale: 3;
}

.LoginWithButton:hover {
  color: #ffffff;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(102, 101, 99, 0.4);
}

.LoginWithButton:active {
  scale: 1;
}

/* -----2nd Button  */
.LoginWithButton2 {
  cursor: pointer;
  position: relative;
  border-radius: 34px;
  background-color: transparent;
  transition: all 1s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.LoginWithButton2::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(228, 228, 228);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.LoginWithButton2:hover::before {
  scale: 3;
}

.LoginWithButton2:hover {
  color: #202020;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.4);
}

.LoginWithButton2:active {
  scale: 1;
}

/* -----Cancel Login------- */
.HidePage {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(53, 53, 53);
}

.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 16px;
  font-weight: 600;
  transition-duration: 0.3s;
  white-space: nowrap;
}

.HidePage:hover {
  width: 165px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.HidePage:hover .text {
  opacity: 1;
  width: 80%;
  transition-duration: 0.3s;
  padding-right: 10px;
  white-space: nowrap;
}

.HidePage:active {
  transform: translate(2px, 2px);
}

/* --------LOgin Or Register Start------- */

/* -------Slider Responsive------ */
@media (min-width: 320px) and (max-width: 576px) {
  #BannerSlider .slick-dots {
    text-align: start !important;
    margin-left: 24px !important;
  }

}

@media (min-width: 700px) and (max-width: 992px) {

  #Brands_Slider .slick-initialized .slick-slide {
    display: flex;
  }
}

/* -------Product Name Text------- */
.ProductName{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 20ch;
}




















/* --------Product Prince Range------------ */
.PrinceRange[type="range"] {
	--thumb-height: 1.125em;
	--track-height: 0.125em;
	--clip-edges: 0.125em;
}

@media (prefers-color-scheme: dark) {

	.PrinceRange[type="range"] {
		color: #0EA5E9;
	}
}

/* === range commons === */
.PrinceRange[type="range"] {
	position: relative;
	overflow: hidden;
}

.PrinceRange[type="range"]:active {
	cursor: grabbing;
}

.PrinceRange[type="range"]:disabled {
	filter: grayscale(1);
	opacity: 0.3;
	cursor: not-allowed;
}

/* === WebKit specific styles === */
.PrinceRange[type="range"],
.PrinceRange[type="range"]::-webkit-slider-runnable-track,
.PrinceRange[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

.PrinceRange[type="range"]::-webkit-slider-runnable-track,
.PrinceRange[type="range"]::-webkit-slider-thumb {
	position: relative;
}

.PrinceRange[type="range"]::-webkit-slider-thumb {
	--thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
	--clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
	--clip-bottom: calc(var(--thumb-height) - var(--clip-top));
	--clip-further: calc(100% + 1px);
	--box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
		100vmax currentColor;

	width: var(--thumb-width, var(--thumb-height));
	background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
		50% calc(var(--track-height) + 1px);
	background-color: currentColor;
	box-shadow: var(--box-fill);
	border-radius: var(--thumb-width, var(--thumb-height));

	filter: brightness(100%);
	clip-path: polygon(
		100% -1px,
		var(--clip-edges) -1px,
		0 var(--clip-top),
		-100vmax var(--clip-top),
		-100vmax var(--clip-bottom),
		0 var(--clip-bottom),
		var(--clip-edges) 100%,
		var(--clip-further) var(--clip-further)
	);
}

.PrinceRange[type="range"]:hover::-webkit-slider-thumb {
	filter: brightness(var(--brightness-hover));
	cursor: grab;
}

.PrinceRange[type="range"]:active::-webkit-slider-thumb {
	filter: brightness(var(--brightness-down));
	cursor: grabbing;
}

/* === Firefox specific styles === */
.PrinceRange[type="range"],
.PrinceRange[type="range"]::-moz-range-track,
.PrinceRange[type="range"]::-moz-range-thumb {
	appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}
.PrinceRange[type="range"]::-moz-range-thumb {
	background: currentColor;
	border: 0;
	width: var(--thumb-width, var(--thumb-height));
	border-radius: var(--thumb-width, var(--thumb-height));
	cursor: grab;
}

.PrinceRange[type="range"]:active::-moz-range-thumb {
	cursor: grabbing;
}

.PrinceRange[type="range"]::-moz-range-track {
	width: 100%;
	background: var(--track-color);
}

.PrinceRange[type="range"]::-moz-range-progress {
	appearance: none;
	background: currentColor;
	transition-delay: 30ms;
}

.PrinceRange[type="range"]::-moz-range-track,
.PrinceRange[type="range"]::-moz-range-progress {
	height: calc(var(--track-height) + 1px);
	border-radius: var(--track-height);
}

.PrinceRange[type="range"]::-moz-range-thumb,
.PrinceRange[type="range"]::-moz-range-progress {
	filter: brightness(100%);
}

.PrinceRange[type="range"]:hover::-moz-range-thumb,
.PrinceRange[type="range"]:hover::-moz-range-progress {
	filter: brightness(var(--brightness-hover));
}

.PrinceRange[type="range"]:active::-moz-range-thumb,
.PrinceRange[type="range"]:active::-moz-range-progress {
	filter: brightness(var(--brightness-down));
}

