/* -----Tailwind---- */
@import "tailwindcss";

/* ----Silk Slider---- */

/* -----Container---- */
@utility container {
  margin-inline: auto;
}
/* ------Themes----- */
@theme{
    --font-poppins: "Poppins", "sans-serif";
    --color-Primary: #4B5563;
    --color-second: #111827;
}